<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--========== BOX ICONS ==========-->
        <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
        <link rel="icon" type="image/png" href="./images/logo-white.png">

        <!--========== CSS ==========-->
        <link rel="stylesheet" href="./css/styles.css">

        <title>Negozio-AI: Home</title>
    </head>
    <body>
        <!--========== SCROLL TOP ==========-->
        <a href="#" class="scrolltop" id="scroll-top">
            <i class='bx bx-up-arrow-alt scrolltop__icon'></i>
        </a>
        
        <!--========== HEADER ==========-->
        <header class="l-header" id="header">
            <nav class="nav bd-container">
                <a href="#" class="nav__logo">Negozio-AI</a>

                <div class="nav__menu" id="nav-menu">
                    <ul class="nav__list">
                        <li class="nav__item"><a href="#home" class="nav__link active-link">Home</a></li>
                        <!-- <li class="nav__item"><a href="#learn_more" class="nav__link">Learn More</a></li> -->
                        <li class="nav__item"><a href="#shop" class="nav__link">Shop</a></li>
                        <li class="nav__item"><a href="#recipes" class="nav__link">Recipes</li>
                        <!-- <li class="nav__item"><a href="#news" class="nav__link">News</li> -->
                        <li class="nav__item"><a href="#liveChat" class="nav__link">Live Chat</a></li>
                        <li class="nav__item"><a href="#contact_us" class="nav__link">Email Us</a></li>    
                        <li><i class='bx bx-toggle-left change-theme' id="theme-button"></i></li>
                    </ul>
                </div>

                <div class="nav__toggle" id="nav-toggle">
                    <i class='bx bx-grid-alt'></i>
                </div>
            </nav>
        </header>

        <main class="l-main">
            <!--========== HOME ==========-->
            <section class="home" id="home">
                <div class="home__container bd-container bd-grid">
                    <div class="home__img">
                        <img src="./images/img/party.png" alt="">
                    </div>

                    <div class="home__data">
                        <h1 class="home__title">This Basket Understands You &#128092;</h1>
                        <p class="home__description">Powered by ML algorithms, Negozio-AI gives you recommendations and urges you to buy things you yourself didn't knew you'd need.</p>
                        <!--This will redirect to the Login/Signup page-->
                        <a href="#" class="button">Get Started</a>
                    </div>   
                </div>
            </section>

            <!--========== LEARN MORE ==========-->
            <!-- <section class="share section bd-container" id="learn_more">
                <div class="share__container bd-grid">
                    <div class="share__data">
                        <h2 class="section-title-center">Wait, You Can <br> Tell What I Need? &#128561;</h2>
                        <p class="share__description">We analyse your purchase history, what users just like you are ordering and the items in your cart after which we come up with the best recommendations for the products you may additionally need.</p>
                        <a href="#" class="button">Learn More</a>
                    </div>

                    <div class="share__img">
                        <img src="./images/img/awe.png" alt="">
                    </div>
                </div>
            </section> -->

            <!--========== CATEGORIES ==========-->
            <section class="decoration section bd-container" id="shop">
                <h2 class="section-title">Find Everything You <br> Will Ever Need</h2>
                <div class="decoration__container bd-grid">
                    <div class="decoration__data">
                        <img src="./images/img/apple_render.gif" alt="" class="decoration__img" id="apple_render">
                        <h3 class="decoration__title">Fresh Fruits and Veggies</h3> 
                        <a href="#" class="button button-link">Go Shopping</a>
                    </div>

                    <div class="decoration__data">
                        <img src="./images/img/burger_render.gif" alt="" class="decoration__img" id="burger_render">
                        <h3 class="decoration__title">Ready To Eat</h3>
                        <a href="#" class="button button-link">Go Shopping</a>
                    </div>

                    <div class="decoration__data">
                        <img src="./images/img/milk_render.gif" alt="" class="decoration__img" id="milk_render">
                        <h3 class="decoration__title">Dairy Products</h3>
                        <a href="#" class="button button-link">Go Shopping</a>
                    </div>
                </div>
            </section>
            
            <!--========== RECIPES ==========-->
            <section class="share section bd-container" id="recipes">
                <div class="recipe__container bd-grid">
                    <div class="recipe__data">
                        <h2 class="section-title-center">Buying Groceries? <br> How about some new recipes? &#128521;</h2>
                        <p class="recipe__description">Powered by TheMealDB API, you can find recipes here for almost all ingredients. Just enter the ingredient you feel particularly interested in today and boom, several new recipes will be shown to you instantly!</p>
                        <a href="#" class="button">Go To Recipe Arena</a>
                    </div>

                    <div class="recipe__img">
                        <img src="./images/img/recipe-gif.gif" alt="">
                    </div>
                </div>
            </section>

             <!--========== NEWS ==========-->
             <!-- <section class="share section bd-container" id="news">
                <div class="news__container bd-grid">
                    <div class="news__data">
                        <h2 class="section-title-center">Wait, You Can <br> Tell What I Need? &#128561;</h2>
                        <p class="news__description">We analyse your purchase history, what users just like you are ordering and the items in your cart after which we come up with the best recommendations for the products you may additionally need.</p>
                        <a href="#" class="button">Learn More</a>
                    </div>

                    <div class="news__img">
                        <img src="./images/img/news-gif.gif" alt="">
                    </div>
                </div>
            </section> -->

            <!--========== LIVE CHAT ==========-->
            <section class="share section bd-container" id="liveChat">
                <div class="liveChat__container bd-grid">
                    <div class="liveChat__data">
                        <h2 class="section-title-center">Talk to us @ <br> #TheRealApniDukaan &#128527;</h2>
                        <p class="liveChat__description">Using Agora API's robust voice and video calling feature, we have facilitated live chat support where you can talk to a representative for all your queries and concerns.
                        Send a DM to <a href="https://twitter.com/NegozioAI" style="text-decoration: none; color: #006cb4;">@NegozioAI</a> and a representative will provide you a meeting link. Alternatively, you can create your own meeting link by using the button below and invite them to your meeting.       
                        </p>
                        <a href="https://ckutce4t8102524idk0qz4z0hz3-7slp1fpez-pooja-gera.vercel.app/create" class="button">Connect With A Representative</a>
                    </div>

                    <div class="liveChat__img">
                        <img src="./images/img/liveChat-gif.gif" alt="">
                    </div>
                </div>
            </section>
            
            <!--========== REACH OUT TO DEVELOPERS ==========-->
            <section class="send section" id="contact_us">
                <div class="send__container bd-container bd-grid">
                    <div class="send__content">
                        <h2 class="section-title-center send__title">Found A Problem?</h2>
                        <p class="send__description">Celestial Biscuit takes their laptops along even on a vacation. Feel free to reach out to us in case you are having any trouble in using our platform.</p>
                        <form action="">
                            <div class="send__direction">
                                <input type="text" placeholder="Type Message" class="send__input">
                                <a href="#" class="button">Send</a>
                            </div>
                        </form>
                    </div>

                    <div class="send__img">
                        <img src="./images/img/aram.png" alt="">
                    </div>
                </div>
            </section>
        </main>

        
        <!--========== SCROLL REVEAL ==========-->
        <script src="https://unpkg.com/scrollreveal"></script>

        <!--========== MAIN JS ==========-->
        <script src="./javascript/main.js"></script>
    </body>
</html>