<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/png" href="./images/images/Flipkart Logo.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Negozio-AI - Learn More</title>
    <link rel="stylesheet" href="./css/learnMore.css">
</head>
<body>
    
    <!--Header Start-->
    <div class="header">
      <div class="yellow-header">
        <div class="yellow-header-heading">Powered by Machine Learning</div>
        <div class="yellow-header-content">Flipsmart tackles the problem of smart grocery recommendations by utilising robust machine learning algorithms namely - apriori, K-means clustering, collaborative filtering (KNN and SVD).   
        </div>
      </div>
      <div class="header-bottom-arrow">
        <img src="./images/BottomArrow.png">
      </div>
      <img src="./images/HeaderImage.png" alt="" class="header-image">
    </div>
    <!--Header End-->

    <!--Section 1 Start-->
    <div class="section-1">
      <div class="section-1-heading">01. What can Flipsmart Do?</div>
      <div class="section-1-content">Flipsmart is a smart bag like no other. With ML-enabled features, never forget to buy your regular grocery items with Flipsmart's 'past purchases recommendation' to get recommendations based on your previous shopping patterns. Always be updated with the latest trends among the users like you with the 'similar user recommendation' feature. Bored with your usual product? Worry not. Get suggestions for alternate products with the 'similar product recommendations' feature. If you are our new user, get the best-personalised recommendations based on the highest rated products among all users with the 'new user recommendation' feature.<br> 
        Flipsmart is the one-stop solution for all your needs with the best recommendations that you could ever get.<br><br>
        
        <b>PO: Personalised Grocery Item Recommendations (Old User)</b><br>
        Buying habits are generally repetitive, hence based on the user’s previous purchase history, items are recommended to the user.<br><br>
        
        <b>P1: Related Grocery Items Recommendations (Based on Products Already In The Cart)</b><br> 
        Based on other users having similar buying habits, products are recommended to the user by classifying him into a group depending upon what he added to his cart.<br><br>
        
        <b>P2: Personalised Grocery Item Recommendations (New User)</b><br>
        Highest rated items are recommended.<br><br> 
        
        <b>P3: Related Grocery Items Recommendations (Using Apriori Algorithm)</b><br>
        Let’s say a user buys maggi, bread and butter at a certain day. Next time let’s suppose when he buys maggi and bread, butter will automatically be recommended to him.<br> <br> 
        <b>P4: Alternative Grocery Items Recommendations (in replacement of unavailable items)</b><br> 
        In case an item is not available or out of stock, similar products can be recommended.<br><br>
        <b>P5: Alternative Grocery Items Recommendations (cheaper similar items)</b><br> 
        In case an item is available for cheap in a different brand or different packaging, such products can be recommended.<br><br>
        <b>P6: Alternative Grocery Items Recommendations (bigger pack sizes)</b><br> 
        In case an item is available in bigger pack size, such products can be recommended.
        </div>
    </div>
    <!--Section 1 End-->

    <!--Section 2 Start-->
    <div class="section-2">
      <div class="section-2-heading">02. Our Team</div>
      <div class="team-images">
        <img src="./images/Pooja.png" alt="" class="pooja-image">
        <img src="./images/Nishtha.png" alt="" class="nishtha-image">
        <img src="./images/Gaurisha.png" alt="" class="gaurisha-image">
      </div>
      <div class="section-2-yellow-container">
        <div class="section-2-yellow-container-heading">Celestial Biscuit</div>
        <div class="section-2-yellow-container-content">Celestial Biscuit is a group of girls driven to bring a change in the world.
<br><br>
          This time, we set out to do something for the consumers on E-commerce platforms like Flipkart which have “customer-first” policy and want to ensure that the customers are having top notch experience on their web app.
          <br><br>
          We aim to build better solutions in the upcoming future with even enhanced features utilising the power of technology, careful and smart ideation and help the customers have a holistic experience on the web application. </div>
      </div>
    </div>
    <!--Section 2 End-->
</body>
</html>